* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 160%;
    background-color: rgb(248, 242, 234);
}

.wrapper {
    margin: auto;
    max-width: 700px;
}

img {
    width: 100%;
}

h1,
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 500;
}

ul.overview  li {
    display: inline-block;
    width: auto;
}
a {
    padding: 1em;
    border: 2px solid rgb(255, 214, 214);
    background-color: white;
}