* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    width: auto;
    display: block;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid black;
    /* text-align: center; */
}